@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

p {
    font-size: 15px;
    line-height: 1.8;
}

ul {
    list-style-type: none;
}